[submodule "microk-kernel"]
	path = microk-kernel
	url = git@github.com:MicroK-OS/microk-kernel.git
[submodule "mkmi"]
	path = mkmi
	url = git@github.com:MicroK-OS/microk-mkmi.git
[submodule "limine"]
	path = limine
	url = https://github.com/limine-bootloader/limine
	branch = v5.x-branch-binary
[submodule "compiler"]
	path = compiler
	url = git@github.com:MicroK-OS/cross-compiler.git
[submodule "module/microk-acpi-module"]
	path = module/microk-acpi-module
	url = git@github.com:MicroK-OS/microk-acpi-module.git
[submodule "module/microk-framebuffer-module"]
	path = module/microk-framebuffer-module
	url = git@github.com:MicroK-OS/microk-framebuffer-module.git
[submodule "module/microk-user-module"]
	path = module/microk-user-module
	url = git@github.com:MicroK-OS/microk-user-module.git
[submodule "module/microk-pci-module"]
	path = module/microk-pci-module
	url = git@github.com:MicroK-OS/microk-pci-module.git
[submodule "module/microk-module-template"]
	path = module/microk-module-template
	url = git@github.com:MicroK-OS/microk-module-template.git
[submodule "module/microk-program-manager"]
	path = module/microk-program-manager
	url = git@github.com:FilippoMutta/microk-program-manager.git
