[submodule "microk-kernel"]
	path = microk-kernel
	url = git@github.com:MicroK-OS/microk-kernel.git
[submodule "mkmi"]
	path = mkmi
	url = git@github.com:MicroK-OS/microk-mkmi.git
[submodule "limine"]
	path = limine
	url = https://github.com/limine-bootloader/limine
	branch = v5.x-branch-binary
[submodule "compiler"]
	path = compiler
	url = git@github.com:MicroK-OS/cross-compiler.git
